/*font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;*/

:root {
  --primary-color: #f46c30;
  --secondary-color: #f1eee6;
  --display-font-family: "Mulish", sans-serif;
  --default-font-family: "Inter", sans-serif;
}

body {
  background-color: var(--secondary-color);
}

h1 {
  font-family: var(--display-font-family);
  font-size: calc(35px + (144 - 35) * ((100vw - 300px) / (1600 - 300)));
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  line-height: 1.5;
  margin: 50px 0;
}

h2 {
  font-family: var(--display-font-family);
  font-size: calc(28px + (52 - 28) * ((100vw - 300px) / (1600 - 300)));
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  line-height: 1.5;
  margin: 30px 0;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #000;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
  text-decoration: none;
  line-height: 70px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav a:hover,
nav a:active {
  color: #000;
  text-decoration: underline;
}

.row-hero p {
  line-height: 120%;
}

.row-hero {
  padding: 110px 0 0 0;
}

.primary_button {
  text-decoration: none;
  border: solid 1px #000;
  border-radius: 30px;
  padding: 10px 40px;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}

.primary_button:hover {
  /*color: #fff;
  background-color: #000;*/
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

.secondary-btn {
  font-size: 18px;
  text-decoration: underline;
  text-transform: uppercase;
}

.align-right {
  text-align: right;
}

.project-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-between;
}

.project-item {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin: 0 20px;
}

.project-item-1,
.project-item-3 {
  margin-top: 100px;
}

.about-section {
  margin-top: 230px;
}

.about-section h1 {
  font-size: calc(28px + (48 - 28) * ((100vw - 300px) / (1850 - 300)));
  text-transform: none;
  line-height: 1;
}

.title-wrapper {
  max-width: 64%;
}

.about-me-details {
  margin-top: 80px;
}

.profile-img {
  margin-top: 80px;
}

.work-overview {
  margin-top: 170px;
}

.second-work-column {
  margin-top: 165px;
}

@media (min-width: 300px) and (max-width: 1020px) {
  h1 {
    font-size: calc(35px + (174 - 35) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1;
  }

  h2 {
    font-size: calc(28px + (52 - 28) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }
  .primary_button {
    font-size: 14px;
  }
  .container {
    padding: 0 30px;
    max-width: 1850px;
    margin: 0 auto;
  }

  .project-container {
    flex-direction: column;
  }

  .project-item {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin: 30px 0;
  }

  .project-img {
    margin-right: 30px;
  }

  .second-work-column {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .project-img {
    display: none;
  }
  .title-wrapper {
    max-width: 100%;
  }
}

@media (min-width: 1020px) {
  h1 {
    font-size: calc(35px + (140 - 35) * ((100vw - 300px) / (1600 - 300)));
  }
  .container {
    padding: 0 30px;
    max-width: 1850px;
    margin: 0 auto;
  }
}

@media (min-width: 800px) and (max-width: 1440px) {
  h1 {
    font-size: calc(35px + (144 - 35) * ((100vw - 300px) / (1600 - 300)));
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: calc(35px + (144 - 35) * ((100vw - 300px) / (1600 - 300)));
  }
  .container {
    padding: 0 80px;
    max-width: 1850px;
    margin: 0 auto;
  }
}
