/*font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;*/

:root {
  --primary-color: #f46c30;
  --secondary-color: #f1eee6;
  --display-font-family: "Mulish", sans-serif;
  --default-font-family: "Inter", sans-serif;
}

body {
  background-color: var(--secondary-color);
}

h1 {
  font-size: 9.2vw;
  font-family: var(--display-font-family);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  line-height: 135%;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: #000;
}

.row-hero {
  padding: 110px 0 0 0;
}

.primary_button {
  text-decoration: none;
  border: solid 1px #000;
  border-radius: 30px;
  padding: 10px 40px;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}

.primary_button:hover {
  /*color: #fff;
  background-color: #000;*/
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

.align-right {
  text-align: right;
}

@media (min-width: 587px) {
  .container {
    max-width: 1063px;
    padding: 0 50px;
  }

  h1 {
    font-size: 8.9vw;
  }
}

@media (min-width: 1063px) {
  .container {
    max-width: 1400px;
    padding: 0 100px;
  }

  h1 {
    font-size: 8.4vw;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1698px;
    padding: 0 100px;
  }

  h1 {
    font-size: 8.8vw;
  }
}

@media (min-width: 1698px) {
  .container {
    max-width: 1920px;
    padding: 0 100px;
  }
}

/*Common breakpoints are 320px — 480px for mobile devices, 481px — 768px for iPads & tablets, 769px — 1024px for small screens like laptop, 1025px — 1200px*/
